@primary-color: #007bff;

@1px-border-gray: 1px solid rgba(0, 0, 0, .125);

.border-bottom (@param) {
  border-bottom: @param solid rgba(0, 0, 0, .125);
}

.border-none {
  border: 0;
}

.card-border (@parameter) {
  border-right: @1px-border-gray !important;
  border-left: @1px-border-gray !important;
  .border-bottom(@parameter);
}

.dialog-triagle (@top, @color) {
  border: 30px solid;
  bottom: auto;
  right: auto;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 21px;
  top: @top;
  border-color: transparent transparent @color;
}

.hide {
  display: none;
}

.search-key {
  text-decoration: underline;
  font-weight: bold;
}

.card-title {
  text-transform: capitalize;
}

.next-button {
  text-align: center;
  background: white;
  color: @primary-color;
  cursor: pointer;
  .card-border(1px);
  border-bottom-left-radius: 3px;
  padding: 5px;
  border-bottom-right-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}

.next-button.allfilm {
  .border-none
}

.input-group-append {
  border: 1px solid #ccc;
}

.input-group {
  .form-control {
    border-right: 0;
  }
}

.card.inline-c {
  border-left: 0 !important;
  border-right: 0 !important;
  .border-bottom(3px) !important;
}

.inline-c .no-gutters {
  .border-none
}

.no-gutters {
  margin: 10px 10px 0 10px !important;
  .border-bottom(3px);
  padding-bottom: 10px;
}

.col-sm-6:first-child .card {
  border-top: @1px-border-gray !important;
  .card-border(0);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.card {
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-radius: 0 !important;
}

.input-group-append {
  background: white;
}

.no-gutters.bg {
  .col-md-4 {
    background: black;
    min-height: 200px;
  }
}

.search.bottom {
  .form-control, .input-group-append {
    .border-none;
    border-radius: 0;
    border-bottom: 1px solid @primary-color;
  }
}

.search {
  padding-top: 200px;
}

.search.wait {
  padding-top: 0;
  animation-name: top;
  animation-duration: 1s;
}

@keyframes top {
  from {padding-top: 200px;}
  to {padding-top: 0;}
}


.col-sm-6:first-child {
  .card:before {
    .dialog-triagle (-61px, rgba(0, 0, 0, .125));
  }

  .card:after {
    .dialog-triagle(-59px, white);
  }
}
